body {
  background: url(./img/korilla.webp) no-repeat left top fixed;
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}
h2 span {
  display: inline-block;
  font-size: 80%;
  font-weight: 300;
  margin-left: -55px;
  margin-right: 5px;
}

.main-header {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.paid {
  display: none;
}
.receipts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.receipt {
  background: url(./img/paper.jpg);
  cursor: pointer;
  flex-basis: 250px;
}
.receipt header {
  background: rgba(87, 141, 87, 0.5);
}
.receipt h2 {
  margin: 0 0 5px 0;
  padding: 20px 20px 0 20px;
}
.receipt section {
  padding: 5px 20px;
}
.toppings {
  margin: 5px 0;
  padding: 0 20px 0 30px;
  font-size: 90%;
}
.visit {
  text-align: center;
  margin: 0;
  padding: 0 0 5px 0;
}

.yes {
  color: rgb(87, 141, 87);
}
.no {
  color: rgb(141, 87, 87);
  font-weight: 700;
}

.searchLabel {
  left: -10000px;
  position: absolute;
  z-index: -1;
}
.searchSection {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}
#search {
  font-size: 22px;
  margin: 0 auto 30px auto;
  padding: 5px;
  text-align: center;
  width: 85%;
}
